<div class="sidebar bg-body-tertiary border-end">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
        aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header d-md-none">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
                aria-label="Close"></button>
        </div>

        <div class="offcanvas-body d-flex flex-column p-0 overflow-y-auto">
            <ul class="nav flex-column py-2">
                <li class="nav-item">
                    <a class="nav-link active mt-3" aria-current="page" href="#" title="Dashboard">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#house-fill"></use>
                        </svg>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#" title="Orders">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#file-earmark"></use>
                        </svg>
                        <span>Orders</span>
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="#" title="Products">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#cart"></use>
                        </svg>
                        <span>Products</span>
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="#" title="Customers">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#people"></use>
                        </svg>
                        <span>Customers</span>
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="#" title="Reports">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#graph-up"></use>
                        </svg>
                        <span>Reports</span>
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="#" title="Integrations">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#puzzle"></use>
                        </svg>
                        <span>Integrations</span>
                    </a></li>
            </ul>

            <h6 class="sidebar-heading px-3 mt-2 mb-1 text-uppercase">
                <span>Saved reports</span>
                <a class="icon-btn" href="#" aria-label="Add a new report">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="#plus-circle"></use>
                    </svg>
                </a>
            </h6>

            <ul class="nav flex-column mb-3">
                <li class="nav-item"><a class="nav-link" href="#">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#file-earmark-text"></use>
                        </svg>
                        <span>Current month</span>
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="#">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#file-earmark-text"></use>
                        </svg>
                        <span>Last quarter</span>
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="#">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#file-earmark-text"></use>
                        </svg>
                        <span>Social engagement</span>
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="#">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#file-earmark-text"></use>
                        </svg>
                        <span>Year-end sale</span>
                    </a></li>
            </ul>

            <hr class="my-2">

            <ul class="nav flex-column mt-auto pb-3">
                <li class="nav-item"><a class="nav-link" href="#">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#gear-wide-connected"></use>
                        </svg>
                        <span>Settings</span>
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="#">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#door-closed"></use>
                        </svg>
                        <span>Sign out</span>
                    </a></li>
            </ul>
        </div>
    </div>
</div>